<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Suggested correction for Ember Observer</h1>
		<p>
			<strong>From:</strong> <%= @correction[:name] %> (<%= @correction[:email] %>)
		</p>
		<p>
			<strong>Addon:</strong> <%= @correction[:addon] %>
		</p>
		<p>
			<strong>Correction:</strong> <%= @correction[:correction] %>
		</p>
	</body>
</html>
